#navbar-element {
  width: 100%;
  background-color: rgb(28, 28, 173);
  text-align: center;
  color: white;
}

#header {
  text-align: center;
  margin-bottom: 50px;
}

#content,.template {
  width: 85%;
  margin: auto;
}

#search-bar {
  margin: auto;
}

#submit-button {
  padding: 0px;
}

/* .category-list{
  width: 20%;
} */

.navbar-elements {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  vertical-align: -webkit-baseline-middle;
}

#desc{
  text-align: center;
}

.navbar-elements:hover {
  cursor: pointer;
  background-color: rgb(62, 62, 196);
  color: white;
  text-decoration: none;
  
  vertical-align: -webkit-baseline-middle;
}

img {
  width: 100%;
}

#dropdown-basic-button {
  background-color: inherit;
  border: none;
  width: 100%;
  padding: 12px;
}

.dropdown-list {
  color: white;
  padding: 10px;
  margin: 0px;
}

#dropdown-basic-button:hover, .dropdown-item:hover, .dropdown-list:hover {
  background-color: rgb(62, 62, 196);
  color: white;
}

#dropdown-basic-button:active {
  background: none;
}

.title-container {
  height: 50px;
  overflow: hidden;
}

.dropdown-item {
  color: white;
}

.dropdown-menu {
  background-color: rgb(28, 28, 173);
}

label:hover {
  cursor: pointer;
}

label{
  margin: 0;
}

.container {
  display: inline-block;
  margin-top: 25px;
  margin-right: 26px;
  margin-left: 26px;
  border: 1px solid black;
}

.container:hover {
  cursor: pointer;
}

hr{
  border-top: 1px solid black;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #dddcdc;
  border-top: 16px solid rgb(28, 28, 173);
  border-bottom: 16px solid rgb(28, 28, 173);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  vertical-align: middle;
}

#footer {
  background-color: rgb(28, 28, 173);
  color: white;
  text-align: center;
  margin-top: 20px;
  height: 35px;
}

#footer-desc {
  margin: 0;
  padding: 8px;
}